@use "../../styles/index.scss" as *;

.update-section {
  max-width: 1280px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

.update-section__title {
  margin: auto;
  text-align: center;
}

.update-section__image-wrapper {
  text-align: center;
  display: none;
  margin-bottom: 12.5px;
}

.update-section__title__heading {
  font-family: $plus-jakarta-sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: $color-azulado;
}

.update-section__title__description {
  font-family: $inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: $color-midnight-blue;
  margin-top: 11px;
}

.update-section__post-wrapper {
  margin-top: 52px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.update-section__post-slider {
  display: none;
}

@media screen and (max-width: 428px) {
  .update-section {
    margin-top: 116px;
    max-width: 383px;
  }
  .update-section__image-wrapper {
    display: block;
    margin-bottom: 42.5px;
  }

  .update-section__post-wrapper {
    display: none;
  }

  .update-section__post-slider {
    display: block;
    max-width: 382px;
    margin-left: auto;
    margin-right: auto;
  }
}
