@use "../../app/styles/colors" as *;
.business-image {
}
.business-image__box {
  width: 475px;
  height: 528px;
  border-radius: 5px;
  background-color: $color-lavender-gray;
  position: relative;
}

.business-image__picture {
  //   height: 608px;
  //   height: 590px;
  max-width: 574px;
}
