@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.update {
  margin-top: 91px;
}

.update__title {
  margin: auto;
  width: 584px;
  text-align: center;
}

.update__title--heading {
  font-family: $plus-jakarta-sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: $color-azulado;
}

.update__title--description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: $color-midnight-blue;
  margin-top: 11px;
}

.update__wrapper {
  margin-top: 52px;
  margin-left: 85px;
  margin-right: 85px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
