@use "../../styles/index.scss" as *;

.contact-section__content {
  max-width: 530px;
}

.contact-section__content__heading {
  font-family: $plus-jakarta-sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;

  color: $color-azulado;
}

.contact-section__content__description {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-top: 40px;
  color: $color-midnight-blue;

  &--bold {
    font-weight: 700;
  }
}

.contact-section__content__form {
  margin-top: 40px;
}
.contact-section__content__form__input-wrapper {
  max-width: 447px;
  box-sizing: border-box;

  padding: 16px 103px 16px 16px;
  border-radius: 5px;
  border: 1px solid $color-gains-boro;
  display: flex;
  align-items: center;
}

.contact-section__content__input {
  margin-left: 20px;
  font-family: $inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  border: 0px;
  outline: 0px;
  text-align: left;
  width: 100%;
}

.contact-section__content__form__input-wrapper {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.contact-section__content__form__button-wrapper {
  margin-right: 80px;
}

@media screen and (max-width: 1280px) {
  .contact-section__content {
    width: 50%;
  }
  .contact-section__content__form__button-wrapper {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .contact-section__content {
    width: 100%;
  }
}

@media screen and (max-width: 428px) {
  .contact-section__content {
    width: 100%;
  }
  .contact-section__content__form__button-wrapper {
    margin-right: 0px;
  }
}
