@use "../../app/styles/fonts" as *;
@use "../../app/styles/colors" as *;

.contact-form-content__text {
  min-width: 450px;
  max-width: 530px;
}

.contact-form-content__heading {
  font-family: $plus-jakarta-sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;

  color: $color-azulado;
}
.contact-form-content__description {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-top: 40px;
  color: $color-midnight-blue;
}
.contact-form-content__description--bold {
  font-weight: 700;
}

.contact-form-content__buttons {
  margin-top: 40px;
}
.contact-form-content__button {
  margin-left: 32px;
}
.contact-form-content__button:first-child {
  margin-left: 0px;
}

.contact-form-content__form {
  margin-top: 40px;
  // margin-right: 83px;
}
.contact-form-content__input-container {
  width: 447px;
  box-sizing: border-box;

  padding: 16px 103px 16px 16px;
  border-radius: 5px;
  border: 1px solid $color-gains-boro;
  display: flex;
  align-items: center;
}
.contact-form-content__input {
  margin-left: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  border: 0px;
  outline: 0px;
  text-align: left;
  width: 100%;
}

.contact-form-content__input-container {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }
}
