@use "../../styles/index.scss" as *;

.client-section {
  margin-top: 74px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;

  padding-left: 46px;
  padding-right: 93px;
  padding-top: 51px;
  padding-bottom: 39px;

  border: 1px solid $color-gains-boro;
  border-radius: 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-section_title {
  width: 232px;
  font-family: $plus-jakarta-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: $color-midnight-blue;
}

.client-section_logo-wrapper {
  display: flex;
}

.client-section-logo {
  margin-right: 90px;
  &:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1280px) {
  .client-section {
    max-width: 1024px;
  }

  .client-section_logo-wrapper {
    overflow: scroll;
    max-width: 100%;
    margin-left: 30px;
  }

  .client-section-logo {
    margin-right: 47px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .client-section-logo__image {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 1024px) {
  .client-section {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .client-section {
    max-width: 567px;
  }
}

@media screen and (max-width: 567px) {
  .client-section {
    max-width: 428px;

    flex-direction: column;
    align-items: start;
  }
  .client-section {
    margin-top: 51px;
    padding-right: 0px;
    max-width: 400px;
  }
  .client-section_logo-wrapper {
    padding-top: 45px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 428px) {
  .client-section {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .client-section_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
}
