@use "../../app/styles/fonts" as *;
@use "../../app/styles/colors" as *;

.feature--content__text {
  min-width: 450px;
}

.feature--content__heading {
  font-family: $plus-jakarta-sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: $color-azulado;
}
.feature--content__description {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-top: 40px;
  //   margin-right: 60px;
  //   padding-right: 35px;
  color: $color-midnight-blue;
}

.feature--content__buttons {
  margin-top: 40px;
}
.feature--content__button {
  margin-left: 32px;
}
.feature--content__button:first-child {
  margin-left: 0px;
}

.feature--content__checks {
  margin-top: 40px;
}
.feature--content__check {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.feature--content__check:last-child {
  margin-bottom: 0px;
}
.feature--content__check-text {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-midnight-blue;
  margin-left: 19.74px;
}
