@use "../../styles/index.scss" as *;

.visible {
  display: block;
}

.not-visible {
  display: none;
}

.navbar-popup {
  width: 100%;
  background-color: $color-sage-violet;
  position: absolute;
  left: 0px;
  top: 0px;
  animation: slideInFromTop 0.5s ease;
}

.navbar-popup--close {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
}

.navbar-popup__link-wrapper {
  display: flex;
  flex-direction: column;
}

.navbar-popup__link {
  text-decoration: none;
  color: $color-white;
  padding: 20px 0px;
  text-align: center;
  border-bottom: 0.7px solid $color-bride-blush;

  font-family: $plus-jakarta-sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}
