@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.faq {
  //   margin-left: 188px;
  //   margin-right: 188px;
  max-width: 1064px;
  margin-top: 99px;
  margin-left: auto;
  margin-right: auto;
}

.faq__image {
  text-align: center;
}

.faq__title {
  text-align: center;
  margin-top: 12.5px;
}

.faq__title__heading {
  font-family: $plus-jakarta-sans;
  color: $color-azulado;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.faq__title__description {
  font-family: $plus-jakarta-sans;
  color: $color-midnight-blue;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.faq__accordion {
  margin-top: 43px;
}

.faq__buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq__button {
  margin-left: 20px;
}
.faq__button:first-child {
  margin-left: 0px;
}
