@use "../../styles/index.scss" as *;

.banner-section__image {
  width: 787px;
}

@media screen and (max-width: 428px) {
  .banner-section__image {
    content: url("/assets/images/group/group1-1.png");
    width: 100%;
    height: auto;
    // max-width: 425px;
    // max-height: 308px;
  }
}
