@use "../../styles/index.scss" as *;

.footer-section {
  margin-top: 103.5px;
  margin-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  font-family: $plus-jakarta-sans;
}

.footer-section__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section__heading-content__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-section__heading-content__link-wrapper {
  display: flex;
  align-items: center;
}

.footer-section__heading__link {
  margin-right: 80px;
  text-decoration: none;
  color: $color-azulado;
  font-weight: 700;
  font-size: 14px;
  height: 17.64px;

  &:last-child {
    margin-right: 0px;
  }
}

.footer-section__divider {
  margin-top: 65px;
  border: 1px solid $color-black;
  justify-content: center;
}

.footer-section__body {
  margin-top: 53.25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-section__body__description {
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: $color-midnight-blue;
}

.footer-section__body__social-link-wrapper {
  display: flex;
}
.footer-section__body__social-link {
  margin-right: 20px;
  &:last-child {
    margin-right: 0px;
  }
}

.footer-section__heading-content__social-link-wrapper {
  display: none;
}

@media screen and (max-width: 1280px) {
  .footer-section {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .footer-section {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .footer-section {
    max-width: 388px;
  }

  .footer-section__heading {
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-section__divider {
    display: none;
  }

  .footer-section__body {
    margin-top: 96px;
    margin-bottom: 75px;
    justify-content: center;
  }

  .footer-section__body__description {
    max-width: 253px;
    text-align: center;
  }

  .footer-section__heading-content__link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .footer-section__heading-content__social-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-section__body__social-link-wrapper {
    display: none;
  }
}
