@use "../../app/styles/colors" as *;

.btn-md-primary {
  background-color: $primary;
  color: $dark;
  border-radius: 5px;
  padding: 16px 24px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 17.5px;
  border: 0px;
  text-transform: capitalize;
}

.btn-md-light {
  background-color: $light;
  color: $dark;
  border-radius: 5px;
  padding: 16px 24px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  line-height: 17.5px;
  border: 0px;
}

.iconBtn-sm-light {
  background-color: $light;
  border-radius: 5px;
  padding: 13px 12px;
  border: 1px solid $primary;
}

.iconBtn-sm-primary {
  background-color: $primary;
  border-radius: 5px;
  padding: 13px 12px;
  border: 0px;
}
