@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.button-design {
  cursor: pointer;
}

.button--md--bride-blush {
  background-color: $color-bride-blush;
  color: $color-midnight-blue;
  border-radius: 5px;
  padding: 16px 24px;
  font-family: $plus-jakarta-sans;
  font-weight: 700;
  line-height: 17.5px;
  border: 0px;
  text-transform: capitalize;
}

.button--lg--bride-blush {
  background-color: $color-bride-blush;
  color: $color-midnight-blue;
  border-radius: 5px;
  padding: 16px 24px;
  font-family: $plus-jakarta-sans;
  font-weight: 700;
  line-height: 17.5px;
  border: 0px;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button--md--white {
  background-color: $color-white;
  color: $color-midnight-blue;
  border-radius: 5px;
  padding: 16px 24px;
  font-family: $plus-jakarta-sans;
  font-weight: 700;
  line-height: 17.5px;
  border: 0px;
}

.icon-button--sm-white {
  background-color: $color-white;
  border-radius: 5px;
  padding: 13px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.button--border--bride-blush {
  border: 1px solid $color-bride-blush;
}

.button--padding--x--zero {
  padding-left: 0px;
  padding-right: 0px;
}

.icon-button--sm--bride-blush {
  background-color: $color-bride-blush;
  border-radius: 5px;
  padding: 13px 12px;
  border: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
