@use "../../styles/index.scss" as *;

@media screen and (max-width: 1280px) {
  .feature-section__image-wrapper {
    width: 50%;
  }
  .feature-section__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  // .feature-section__image-wrapper {
  //   width: 50%;
  // }
}

@media screen and (max-width: 768px) {
  .feature-section__image-wrapper {
    width: 100%;
  }
  .feature-section__image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 428px) {
  .feature-section__image {
    width: 100%;
    height: auto;
  }
}
