@use "../../../app/styles/fonts" as *;
@use "../../../app/styles/colors" as *;

.businessBannerForm__text {
  min-width: 450px;
  max-width: 530px;
}

.businessBannerForm__heading {
  font-family: "Plus Jakarta Sans";
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;

  color: $heading;
}
.businessBannerForm__description {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-top: 40px;
  color: $dark;
  &-bold {
    font-weight: 700;
  }
}

.businessBannerForm__buttons {
  margin-top: 40px;
  .businessBannerForm__button {
    margin-left: 32px;
  }
  .businessBannerForm__button:first-child {
    margin-left: 0px;
  }
}

.businessBannerForm__checks {
  margin-top: 40px;
  .businessBannerForm__check {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .businessBannerForm__check:last-child {
    margin-bottom: 0px;
  }
  .businessBannerForm__check-text {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $dark;
    margin-left: 19.74px;
  }
}
