@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.clients {
  margin-top: 74px;
  // margin-left: 80px;
  // margin-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 5px;

  max-width: 1280px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 46px;
  padding-right: 93px;
}

.clients__content {
}

.clients-text {
  width: 232px;

  font-family: $plus-jakarta-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: $color-midnight-blue;
}

.clients-logos {
  // margin: 47px 93px 40px 81px;
  display: flex;
}

.clients-logo {
  margin-right: 90px;
}
.clients-logo:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 428px) {
  .clients {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
  .clients-text {
    margin-bottom: 45px;
  }
  .clients-logo {
    margin: 0px 0px 58px 44px;
    overflow: hidden;
  }
  .clients-logo {
    margin-right: 47px;
  }
  .clients-logo__image {
    width: 64px;
    height: 64px;
  }
}
