@use "../../../app/styles/fonts" as *;
@use "../../../app/styles/colors" as *;

.businessBanner__text {
  min-width: 450px;
}

.businessBanner__heading {
  font-family: "Plus Jakarta Sans";
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: $heading;
}
.businessBanner__description {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-top: 40px;
  //   margin-right: 60px;
  //   padding-right: 35px;
  color: $dark;
}

.businessBanner__buttons {
  margin-top: 40px;
  .businessBanner__button {
    margin-left: 32px;
  }
  .businessBanner__button:first-child {
    margin-left: 0px;
  }
}

.businessBanner__checks {
  margin-top: 40px;
  .businessBanner__check {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .businessBanner__check:last-child {
    margin-bottom: 0px;
  }
  .businessBanner__check-text {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $dark;
    margin-left: 19.74px;
  }
}
