.feature {
  margin-top: 133px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 148px;
  max-width: 1207px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 428px) {
  .feature {
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column-reverse;
  }
}
