.feature {
  margin-top: 133px;
  margin-left: 83px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 202px;
  // grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 428px) {
  .feature {
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column-reverse;
  }
}
