@use "../../styles/index.scss" as *;

.business-image__box {
  width: 475px;
  height: 528px;
  border-radius: 5px;
  background-color: $color-lavender-gray;
  position: relative;
}

.business-image__picture {
  max-width: 574px;
}
