@use "../../app/styles/fonts" as *;
@use "../../app/styles/colors" as *;

.banner__image {
}

.banner__image-box {
  width: 568px;
  height: 590px;
  border-radius: 5px;
  background-color: $color-bride-blush;
  margin-left: 123px;
  position: relative;
}

.banner__image-picture {
  // height: 608px;
  // height: 590px;
  position: absolute;
  right: 70px;
  bottom: 0px;
}

.banner__image-arrow {
  position: absolute;
  left: 474px;
  top: 32px;
}

.banner__image-stat {
  position: absolute;
  left: -85px;
  top: 120px;
}

@media screen and (max-width: 428px) {
  .banner__image-stat {
    display: none;
  }
  .banner__image-box {
    margin-left: 0px;
    width: 316.5px;
    width: 352px;
  }
  .banner__image-picture {
    width: 350px;
    height: 360px;
  }
}
