@use "../../app/styles/fonts" as *;
@use "../../app/styles/colors" as *;

.banner__image {
  // overflow: hidden;
}

.banner__image-box {
  width: 568px;
  height: 590px;
  border-radius: 5px;
  background-color: $color-bride-blush;
  position: relative;
}

.banner__image__picture {
  max-width: 787px;
}

@media screen and (max-width: 428px) {
  .banner__image {
    margin-top: 68px;
  }

  .banner__image-stat {
    display: none;
  }
  .banner__image-box {
    width: 316.5px;
    height: 352px;
    margin-left: 52px;
  }
  .banner__image-picture {
    width: 350px;
    height: 360px;
    position: absolute;
    right: 19.5px;
  }

  .banner__image-arrow {
    width: 76.5px;
    height: 74px;
    right: -24.8px;
    top: 20.6px;
    overflow: hidden;
  }
}
