@use "../../app/styles/fonts" as *;
@use "../../app/styles/colors" as *;

.business-content {
  max-width: 530px;
}

.business-content__text {
  // min-width: 450px;
}

.business-content__heading {
  font-family: $plus-jakarta-sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: $color-azulado;
}

.business-content__description {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-top: 40px;
  color: $color-midnight-blue;
}

.business-content__buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.business-content__button {
  margin-left: 20px;
}
.business-content__button:first-child {
  margin-left: 0px;
}

.business-content__checks {
  margin-top: 40px;
}
.business-content__check {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.business-content__check:last-child {
  margin-bottom: 0px;
}
.business-content__check-text {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-midnight-blue;
  margin-left: 19.74px;
}
