@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.footer {
  margin-top: 103.5px;
  margin-bottom: 49px;
  // margin-left: 80px;
  // margin-right: 80px;

  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  font-family: $plus-jakarta-sans;
}

.footer__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .footer__links {
//   margin-left: 625px;
// }

.footer__link {
  margin-right: 80px;
  text-decoration: none;
  color: $color-azulado;
  font-weight: 700;
  font-size: 14px;
  height: 17.64px;
}
.footer__link:last-child {
  margin-right: 0px;
}

.footer__body {
  margin-top: 53.25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-divider {
  margin-top: 65px;
  border: 1px solid $color-black;
  justify-content: center;
}

.footer-text {
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: $color-midnight-blue;
}

.footer-socialLinks {
  display: flex;
}
.footer-socialLink {
  margin-right: 20px;
}
.footer-socialLink:last-child {
  margin-right: 0px;
}
