@use "../../styles/index.scss" as *;

.business-section {
  margin-top: 146px;
  max-width: 1277px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .business-section {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .business-section {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .business-section {
    max-width: 567px;
    flex-direction: column;
    gap: 60px;
    margin-top: 116px;
  }
}

@media screen and (max-width: 567px) {
  .business-section {
    max-width: 428px;
  }
}

@media screen and (max-width: 428px) {
  .business-section {
    display: none;
    max-width: 383px;
  }
}
