@use "../../styles/index.scss" as *;

.business-section {
  margin-top: 146px;
  max-width: 1277px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 428px) {
  .business-section {
    display: none;

    margin-top: 116px;
    max-width: 383px;
    flex-direction: column;
    gap: 60px;
  }
}
