@use "../../app/styles/fonts" as *;
@use "../../app/styles/colors" as *;

.banner__content {
  min-width: 450px;
}

.banner__heading {
  font-family: $plus-jakarta-sans;
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
  color: $color-azulado;
}
.banner__description {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: $color-midnight-blue;
  margin-top: 40px;
  margin-right: 60px;
  padding-right: 35px;
}

.banner__buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.banner__button {
  margin-left: 20px;
}
.banner__button:first-child {
  margin-left: 0px;
}

.banner__star {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.banner__star-text {
  font-family: $plus-jakarta-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-midnight-blue;
  margin-left: 20px;
}
