@use "../../app/styles/colors" as *;

.navbar {
  // background-color: $color-bride-blush;
  // padding: 20px;
  font-family: "Plus Jakarta Sans";
}

.navbar__head--text {
  background-color: $color-sage-violet;
  color: $color-white;
  font-size: 14px;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 12px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.navbar__body {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.navbar__links {
  margin-left: 88px;
}
.navbar__link {
  margin-right: 80px;
  text-decoration: none;
  color: $color-azulado;
  font-weight: 700;
  font-size: 14px;
  height: 17.64px;
}
.navbar__link:last-child {
  margin-right: 0px;
}

.navbar__contact {
  margin-left: 536px;
}
