@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.navbar {
  // background-color: $color-bride-blush;
  // padding: 20px;
  font-family: $plus-jakarta-sans;
}

.navbar__head__text {
  background-color: $color-sage-violet;
  color: $color-white;
  font-family: $plus-jakarta-sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;

  text-align: center;
  padding-top: 13px;
  padding-bottom: 12px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.navbar__body {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__body__items {
  display: flex;
  align-items: center;
}

.navbar_body__logo {
  margin-right: 88px;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  margin-right: 80px;
  text-decoration: none;
  color: $color-azulado;
  font-weight: 700;
  font-size: 14px;
  font-family: $plus-jakarta-sans;
  line-height: 18px;
}

.navbar__link:last-child {
  margin-right: 0px;
}

.navbar__contact {
  // margin-left: 536px;
}

.navbar__category {
  display: none;
}

@media screen and (max-width: 428px) {
  .navbar__body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__links {
    display: none;
  }

  .navbar__contact {
    display: none;
  }

  .navbar__category {
    display: block;
  }
}
