@use "../../styles/index.scss" as *;

.feature-list-section {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 101.11px;
  padding: 92px 0px;

  background-color: $color-sage-violet;
  border-radius: 5px;
}

.feature-list-section__feature-wrapper {
  display: flex;
  justify-content: space-around;
}

.feature-list-section__feature {
  display: flex;
  align-items: center;
}

.feature-list-section__feature_title {
  margin-left: 20px;
  max-width: 244px;

  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: $color-white;
}
