@use "../../app/styles/colors" as *;
@use "../../app/styles/fonts" as *;

.accordion {
  margin-top: 20px;
  &:first-child {
    margin-top: 0px;
  }
}

.accordion__title {
  padding: 23px 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;

  border-radius: 5px;
  // background-color: $color-sage-violet;
  border: 1px solid $color-midnight-blue;
}

.accordion__title--bg-sage-violet {
  background-color: $color-sage-violet;
}

.accordion__title__text {
  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: justify;
  color: $color-midnight-blue;
}

.accordion__title__text--white {
  color: $color-white;
}

.accordion__title__icon {
  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: $color-midnight-blue;
}

.accordion__title__icon--white {
  color: $color-white;
}

.accordion__body {
  padding: 23px 35px 20px 44px;
}

.accordion__body--hide {
  display: none;
}

.accordion__body--show {
  display: block;
  animation: slideInFromTop 0.5s ease;
}

.accordion__body_text {
  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: $color-midnight-blue;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}
