@use "../../styles/index.scss" as *;

.accordion {
  position: relative;
  margin-top: 20px;
  &:first-child {
    margin-top: 0px;
  }
}

.accordion__title {
  cursor: pointer;
  padding: 23px 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;
  // background-color: $color-sage-violet;
  border: 1px solid $color-midnight-blue;
}

.accordion__title__text {
  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
  color: $color-midnight-blue;
}

.accordion__title__text--active {
  font-weight: 700;
  color: $color-white;
  background-color: $color-sage-violet;
}

.accordion__title__icon {
  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: $color-midnight-blue;
}

.accordion__title__icon--white {
  color: $color-white;
}

.accordion__body {
  padding: 23px 35px 20px 44px;
  position: absolute;
}

.accordion__body--hide {
  display: none;
  // transform: display 2s;
  // animation: slideOutFromBottom 0.5s ease;
}

.accordion__body--show {
  display: block;
  animation: slideInFromTop1 0.5s ease;
  position: relative;
  z-index: -4;
}

.accordion__body_text {
  font-family: $plus-jakarta-sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: $color-midnight-blue;
  animation: text-animation 0.5s ease-in;
}

@keyframes slideInFromTop1 {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

@keyframes slideOutFromBottom {
  from {
    top: 0px;
  }
  to {
    top: -100px;
  }
}

@keyframes text-animation {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 428px) {
  .accordion__title {
    padding: 25px 17px 28px 17px;
  }
  .accordion__title__text {
    max-width: 272px;
  }
}
