@use "../../styles/index.scss" as *;

.accordion {
  background-color: #f4f4f4;
  margin-bottom: 5px;
  overflow: hidden;
}

.accordion__title {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

/* Add a class 'open' to style the open accordion items */
.accordion__title.open {
  background-color: #ddd;
}

.accordion__body.open {
  max-height: 1000px; /* Adjust as needed based on your content height */
}
